In [72]:
import pandas as pd
import numpy as np

In [73]:
read_csv = pd.read_csv('ww_heatmap.csv')
read_csv

       Area level Area text  code Avg_hr_wage
0      State area   Alabama     7       21.88
1      State area   Alabama     8       25.82
2      State area   Alabama     9       33.79
3      State area   Alabama    10       36.32
4      State area   Alabama    11       49.23
...           ...       ...   ...         ...
61524  State area   Wyoming     1        9.22
61525  State area   Wyoming     0       11.04
61526  State area   Wyoming     0       17.81
61527  State area   Wyoming     0       17.91
61528  State area   Wyoming     0       17.86

[61529 rows x 4 columns]

In [74]:
read_csv.dtypes

Area level     object
Area text      object
code            int64
Avg_hr_wage    object
dtype: object

In [75]:
read_csv['Avg_hr_wage'] = read_csv['Avg_hr_wage'].replace('-', '', regex=True)
read_csv['code'] = read_csv['code'].replace(16, 0, regex=True)

In [76]:
read_csv['Avg_hr_wage'] = pd.to_numeric(read_csv['Avg_hr_wage'])

In [78]:
wage_grouped = read_csv.groupby('Area text').mean()

In [79]:
wage_grouped.to_csv('ww_grouped.csv',index=False)